:root {
    --color-1-50: #fff9eb;
    --color-2-100: #fdeec8;
    --color-3-200: #fbdc8c;
    --color-4-300: #f9c350;
    --color-5-400: #f7ab28;
    --color-6-500: #f18a0f;
    --color-7-600: #d6660a;
    --color-8-700: #b1450c;
    --color-9-800: #903610;
    --color-10-900: #762d11;
    --color-11-950: #441504;
    --color-12-50: #fffcf6;
}